#root {
  text-align: center;
  background-color: #5d7559;
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #ffdaed);
}

.purpose-page {
  height: 76vh; /* Viewport height minus header height */
  background-color: #4d6b4d; /* Match the overall green theme */
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
